<div class="vh-100 d-flex justify-content-center align-items-center">
  <main class="container">
    <h1 class="text-right">Faça seu cadastro</h1>

      <section class="form-floating mb-3">
        <input type="email" class="form-control"  id="email" placeholder="" aria-label="Digite seu email" required/>
        <label for="email">Email</label>
      </section>
      <section class="form-floating mb-3">
        <input name="password" type="password" class="form-control" id="password" placeholder="Password" aria-label="Digite sua senha" required>
        <label for="password">Senha</label>
      </section>
      <div class="d-grid gap-2">
        <button type="button" class="btn btn-primary btn-lg">Fazer cadastro</button>
      </div>

    <nav class="d-flex justify-content-between mt-3">
      <p>Já possui cadastro? <a [routerLink]="['/login']" aria-label="Esqueceu sua senha?">Fazer login</a></p>
    </nav>
  </main>
</div>
