<div class="vh-100 d-flex justify-content-center align-items-center">
  <main class="container">
    <h1 class="text-right">Login</h1>
    <form>
      <section class="form-floating mb-3">
        <input type="email" class="form-control" id="email" placeholder="name@example.com" aria-label="Digite seu email">
        <label for="email">Email</label>
      </section>
      <section class="form-floating mb-3">
        <input type="password" class="form-control" id="password" placeholder="Password" aria-label="Digite sua senha">
        <label for="password">Senha</label>
      </section>
      <div class="d-grid gap-2">
        <button type="submit" class="btn btn-primary btn-lg">Entrar</button>
      </div>
    </form>
    <nav class="d-flex justify-content-between mt-3">
      <a href="#" aria-label="Esqueceu sua senha?">Esqueceu a senha?</a>
      <a href="#" aria-label="Cadastrar-se">Cadastrar-se</a>
    </nav>
  </main>
</div>
