<div class="vh-100 d-flex justify-content-center align-items-center">
  <main class="container">
    <h1 class="text-right">Redefinir senha</h1>
    <p>Digite o email para o qual deseja receber sua nova senha</p>

      <section class="form-floating mb-3">
        <input type="email" class="form-control"  id="email" placeholder="" aria-label="Digite seu email" required/>
        <label for="email">Email</label>
      </section>
      <div class="d-grid gap-2">
        <button type="button" class="btn btn-primary btn-lg">enviar</button>
      </div>

    <nav class="d-flex justify-content-between mt-3">
      <a href="#" aria-label="voltar a tela de login" >Voltar ao início</a>
      <a href="#" aria-label="Cadastrar-se">Cadastrar-se</a>
    </nav>
  </main>
</div>
