.container{
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.section {
    width: 1079px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
    margin: auto;
}